---
import '@styles/results.css';
import Card from '@components/results/Card.astro';
import Tag from '../Tag.astro';
const tags = ['Verduras', 'Fruta']

interface ResultsProps {
  products: {
    nombre: string;
    tipo: string;
    valores: string;
    meses: string[];
    region: string[];
    image: string;
  }[];
}

const { products } = Astro.props as ResultsProps;
---

<main class="results">
  <header class="container-head">
    <h2>Productos disponibles</h2>
    <aside class="tags">
      {tags.map(tag => <Tag tag={tag} />)}
    </aside>
  </header>
  <section class="cards">
    {products && products.map(product => (
      <Card
        nombre={product.nombre}
        tipo={product.tipo}
        valores={product.valores}
        meses={product.meses}
        region={product.region}
        image={product.image}
      />
    ))}
  </section>
</main>