---
export const prerender = true;
import products from '@lib/products.json';
import Layout from '../../layouts/Layout.astro';
import CalendarIcon from '@icons/calendar-icon.svg';
import RegionIcon from '@icons/region-icon.svg';
import '@styles/product.css';

interface Product {
  id: number;
  name: string;
  type: string;
  description: string;
  months: string[];
  regions: string[];
  image: string;
}

export async function getStaticPaths() {
  return products.map(product => ({
    params: { name: product.name },
    props: product,
  }));
}
const { name } = Astro.params;
const { id, type, description, months, regions, image } = Astro.props as Product;
const pageTitle = `${name} | Productos de Temporada`;
---

<Layout pageTitle={pageTitle}>
  <main class="product-container" transition:name=`product ${id}`>
    <h1 class="title">{name}</h1>
    <figure class="image-container">
      <img src={image} alt={name} class="image-product" />
    </figure>
    <section class="additional-info">
      <h3>{type}</h3>
      <div class="description-tags">
        {description.split('|').map(item => (
          <span class="tag">{item.trim()}</span>
        ))}
      </div>
      <ul class="calendar-info">
        <CalendarIcon />
        {months.map((mes: string) => (
          <li>{mes}</li>
        ))}
      </ul>
      
    </section>
    <section class="maps-info">
      <ul class="calendar-info">
        <RegionIcon />
        {regions.map((region: string) => (
          <li>{region}</li>
        ))}
      </ul>
    </section>
  </main>
</Layout>
